/*.opensdf
/*.sdf
/001/Debug/Log/*.Log
/001/FREED/Debug
/001/FREED/Release
/001/GPothka.MainWin/Debug
/001/GPothka.MainWin/Release

001/Debug/GPothka.MainWin.exe
001/Debug/GPothka.MainWin.exe
001/Debug/GPothka.MainWin.ilk
001/Debug/GPothka.MainWin.pdb
001/GPothka.MainWin/GPothka.MainWin.aps
